<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Flask Projects</title>
<!--    <link rel="stylesheet" href="/static/home-styles.css">-->
</head>
<body>
<header>
    <h1>Welcome to My Website</h1>
</header>

<footer id="footer">
<!--    Made by <a href="https://github.com/mark-hlavnyi" target="_blank">Mark Hlavnyi</a>-->
</footer>

<!--<script src="/static/home-script.js"></script>-->
</body>
</html>
